{% extends "index.html" %}

{% block title %} About Us - Lit Wallet {% endblock %}


{% block content %}

<div class="container-wrapper">
    <div class="hed">
        <h1>The company</h1>
    </div>
    <div class="info-details">
        <p>Founded by a team of financial experts and tech enthusiasts, Lit Wallet is built on the principles of transparency, innovation, and security. We believe that everyone deserves access to sophisticated financial tools and our mission is to make it possible for everyone.
        <p>Our team is dedicated to constantly improving the platform and adding new features to better serve our users. We value customer feedback and are committed to providing the best possible customer service.
        <p>At Lit Wallet, your financial well-being is our top priority. We use advanced security measures to keep your information and assets safe and secure. We are fully licensed and regulated to operate in the financial industry, giving you peace of mind.
    </div>
    <div class="hed">
        <h2 class="subtitle">Meet the Team</h2>
    </div>
    <div class="info-details">
        <p>Our team is made up of a diverse group of individuals with a passion for finance and technology. From experienced financiers to talented software engineers, each member of the team brings unique skills and expertise to the table.
        <p>Together, we are united by our commitment to making a positive impact on people's lives through innovative financial solutions.
    </div>
    <div class="hed">
        <h2 class="subtitle">Join the Movement</h2>
    </div>
    <div class="info-details">
        <p>Join us on our mission to revolutionize the way people manage their finances. Whether you're a user or just interested in following our journey, we'd love for you to be a part of the Lit Wallet community. Get in touch with us today to learn more about what we do and how you can get involved.
    </div>

<div class="hed">
    <h3>Our Values</h3>
</div>
<div class="info-details">
    <ul>
        <li>Accessibility - We strive to make our platform accessible to everyone, regardless of their financial background or experience.</li>
            <li>Transparency - We believe in being transparent in our operations, and always putting our users first.</li>
            <li>Innovation - We are constantly exploring new technologies and finding ways to improve our platform to better serve our users.</li>
            <li>Security - We take security seriously and employ industry-leading measures to keep our users' data and assets safe.</li>
        </ul>
</div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}