{% extends "index.html" %}

{% block title %} Contact Us - Lit Wallet {% endblock %}

{% block content %}
<div class="container-wrapper">
    <div class="hed">
        <h1>Contact Us</h1>
    </div>
    <div class="info-details">
        <p>At Lit Wallet, we are always here to help. If you have any questions or concerns, please don't hesitate to reach out to us. </p>
    </div>
    <div class="hed">
        <h3>Email Us</h3>
    </div>
    <div class="info-details">
        <p>You can reach us via email at <a href="mailto:support@litwallet.com">support@litwallet.com</a>. We will respond to your inquiry as soon as possible. </p>
    </div>
    <div class="hed">
        <h3>Live Chat</h3>
    </div>
    <div class="info-details">
        <p>You can also reach us through our live chat service. Simply click on the chat icon on the bottom right corner of your screen to start a conversation. </p>
    </div>
    <div class="hed">
        <h3>Phone Support</h3>
    </div>
    <div class="info-details">
        <p>If you prefer speaking to someone over the phone, you can call us at +1 (555) 555-5555. Our phone support is available from 9:00am to 5:00pm EST, Monday to Friday. </p>
        <p>We look forward to hearing from you! </p>
    </div>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}