*{
    margin: 0px;
}
body{
    --col-font: white;
    --col1: #5AC994;
    --col2: #C0F7B7;
    --col3: #124143;
    --col4: #141B29;
    --colA: #ffede1;
    --col-le: #d7f9ff;
    --colC: #afcbff;
    --colD: #08415c;
    --col-bg: #143642;
    --col-fnt: #eaeaea;
    --col-btn: #ff3f3f;
    --col-el: #1885ff;
    font-family: Poppins;
    overflow-x: hidden;
    padding: 0.1px;

}
nav{
    width: 100vw;
    min-height: 42px;
    background-color:var(--col4); 
    box-shadow: 0px 0px 10px 0px var(--col3);
    z-index: 989;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(-180deg, var(--col4), var(--col3));
}
.nav-wrapper{
    width: calc(100% - 100px);
    height: 100%;           
    margin-left: 50px;      
    margin-right: 50px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}
.nav-content{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 24px;
}
.nav-content div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.nav-content div a{
    font-size: 1.22rem;
    color: var(--col-font);
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 0px;
    transition: ease-in-out 0.1s;
}
.nav-content div a:hover{
    border-bottom: 4px solid var(--colC);
}
.line{
    display: none;
    width: 100%;
    height: 3px;
    background-color: var(--colC);
}
.logo{
    flex: 1;
    font-size: 28px;
    font-weight: 700;
}
.nav-center{
    flex: 4;
}
.nav-right{
    flex: 2;
    display: flex;
    justify-content: flex-end !important;
    position: relative;
}
.nav-right a:hover{
    cursor: pointer;
}
.nav-right a:hover .profile{
    display: flex !important;
}
.nav-li{
    margin-left: 1.3rem;
}

form{
    min-width: 280px;
    max-width: 400px;
    background-image: linear-gradient(145deg, var(--col4), var(--col3));
    min-height: 400px;
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    border-radius: 9px;
    color: var(--col-font);
    box-shadow: 0px 0px 40px 3px var(--col4);
    margin: auto;
    margin-top: 26px;
    padding: 6px;
}
.form-content{
    display: flex;
    width: 95%;
    margin:12px 0px 9px 9px;
    flex-direction: column;
}
.form-content input{
    width: 90%;
    height: 28px;
    margin: 12px 0px;
    background-color:rgb(255, 255, 255);
    font-size: 16px;
    color: var(--colC);
    border: none;
    border-radius: 3px;
}
.form-content input:focus{
    box-shadow: 0px 0px 12px 2px #73fcba;
    border:solid 2px var(--col1);
    outline: none;
    border-radius: 4px;
}
.form-content input[type=submit]{
    width: 92%;
    height: 40px;
    border: none;
    margin: 32px 0px 0px 0px;
    background-color: var(--col1);
    font-size: 18px;
    font-weight: 600;
    color: var(--col4);
    border-radius: 3px;
    border: none;
}
.form-content input[type=submit]:hover{
    cursor: pointer;
    opacity: 0.9;
    color: var(--colA) ;
}
.form-content a{
    text-decoration: none;
    color: var(--col4);
    padding: 3px 2px;
    border-radius: 6px;
    background-color: var(--col1);
}
.form-content a:hover{
    color: var(--colA);
    opacity: 0.9;
}
.form-head{
    margin-top: 0px;
    width: 100%;
    height: 40%;
    
}
.container{
    position: relative;
    min-height: calc(100vh - 60px);
    width: 100vw;
    margin-top: 46px;
    flex-direction: column;
    position:relative;
    color: var(--col4);
    padding: 0.1px;
}
.container-wrapper{
    width: calc(100% - 98px);
    min-height: 96vh;
    margin: 0px auto 2px auto;
    background-color: #1241430c;
    display: flex;
    flex-direction: column;
    color: var(--col4);
    border-radius: 3px;
}
.notification{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.753);
    position: fixed !important;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: none !important;
}
.message{
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 6px;
    box-shadow: 0px 0px 40px 12px black;
}
.hed{
    text-align: center;
}

.news{
    position: relative;
    width: 97%;
    min-height: 40%;
    margin: 39px auto;
    border-radius: 3px;
    background-color: var(--colC);
    padding: 9px;
    font-size: 14px;
}
.news a{
    text-decoration: none;
    color: whitesmoke;
}
.news li{
    color: whitesmoke;
    margin-left: 0px;
    width: 100%;
    list-style: none;
    margin-bottom: 4px;
    border-radius: 3px;
    opacity: 0.9;
    background-color: var(--col3);
    display: flex;
    min-height: 40px;
}
.news li:hover{
    opacity: 1;
    background-color: var(--colD);
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px grey;
    transition: ease-in-out 0.2s;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.news li .news-date{
    flex: 1;
}
.news li .news-info{
    flex: 4;
}
.news li div{
    display: flex;
    align-items: center;
    padding-left: 4px;
}
.side-nav{
    font-size: large;
    background-color: var(--col4);
    position: fixed;
    top:  48px;
    width: 150px;
    height: calc(100% - 49px);
    left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    z-index: 900;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-y: scroll;
    transition: 0.1s;
    background-image: linear-gradient(135deg, var(--col4), var(--col3));
}

.side-nav a:hover{
    background-color: var(--colC);
    color: var(--colD);
}
.side-nav a{
    text-decoration: none;
    color: var(--col-font);
    padding: 5px 12px;
    margin: 9px 6px;
    border-radius: 6px;
    transition: ease-in-out 0.6s;
    
}
.side-nav a:hover ::before{
    content: "Hello there"
}
.center-elements{
    display: flex;
    flex-direction: column;
    position:relative;
    justify-content: center;
    align-items: center;
}
footer{
    position: relative;
    margin-top: 124px;
    width: 100vw;
    min-height: 180px;
    background-color: var(--col4);
    overflow-x: hidden;
    background-image: linear-gradient(180deg, var(--col4), var(--col3));
    
}
.footer-wrapper div{
    color:var(--colC);
    padding: 12px;
    margin: 6px;
    display: flex;
    flex-direction: column;
}
.footer-wrapper div a{
    text-decoration: none;
    color: var(--col-font);
    border-radius: 3px;
}
.footer-wrapper div a:hover{
    color: var(--colD);
    background-color: var(--colC);
}
.footer-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.footer-main{
    flex: 3;
}
.footer-right{
    flex: 2;
}
.footer-left{
    flex: 2;
}
.copyright{
    text-align: center;
    color: var(--col3);
    background-color: var(--col4);
}
.scroll{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: -85px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 26px 3px black;
    z-index: 999 !important;
    transition: ease-in-out .25s;
    
    
}
.visible{
    bottom: 25px;
    transition: ease-in-out .5s;
}
.scroll a{
    color: var(--col4);
    padding: 13px;
    border-radius: 50%;
}
.scroll a:hover{
    cursor: pointer;
}
.profile{
    font-size: 1rem;
    flex-direction: column !important;
    width: 150px;
    height: 200px;
    background-color : red;
    color: white;
    position: absolute !important;
    top: 42px;
    right: 0px;
    display: none !important;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 13px;
    background-image: linear-gradient(180deg, var(--col4), var(--col3));
}
#profile :hover #prof{
    display: flex !important;
}
.prof-vis{
    display:flex !important;
}
.prof-head{
    width: 100%;
    height: 30%;
    border-top-left-radius: 12px;
}
.prof-body{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
}
.profile hr{
    width: 96%;
    border: 2px solid var(--col3);
}
.prof-body a{
    margin: 2px 0px 2px 18px;
    padding: 2px 6px 2px 6px !important;
    font-size: 18px;
}
.dark{
    background-color: var(--col4) !important;
    color: whitesmoke !important;
}
.chart{
    min-width: 300px;
    min-height: 564px;
    width: 97%;
    height: 90%;
    background-color: #124143;
    margin: 3px auto 3px auto;
    padding: 6px;
    color: #c0f7b73a;
    opacity: 0.97;
    border-radius: 3px;
}
.newchart{
    width: 100%;
    height: 100%;
}
.chart:hover{
    opacity: 1;
    cursor: crosshair;
}
.chartContainer{
    height: 564px;
    width: 100%;
}
.chartContainer:hover{
    opacity: 1;
    cursor: crosshair;
}
.error{
    width: 100%;
    height: 22px;
    background-color: rgb(158, 36, 36);
    padding-bottom: .3em;
    border-radius: 3px;
    text-align: center;
}
.flasher{
    display: flex;
    list-style-type: none;
    margin: 0px 18px;
    width: calc(100vw - 115px);
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 989;
    min-height: 0px;
    border-radius: 3px;
    flex-direction: column;
    text-align: center;
}
.flasher li{
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: var(--col1);
    justify-content: space-around;
    margin: 1px 0px 1px 0px;
}

.closinga{
    width: 28px;
    height: 3px;
    background-color: var(--col4);
    margin-top: 7px;
    transform: rotate(40deg);
    position: relative;
    top: 3px;
}
.closingb{
    width: 28px;
    height: 3px;
    background-color: var(--col4);
    margin-top: 7px;
    transform: rotate(-43deg);
    position: relative;
    bottom: 6px;
}
.fr{
    width: 400px;
    height: 450px;
    background-color: white;
    display: flex;
    margin: auto;
    position: relative;
    border: 2px groove gray;
    box-shadow: 5px 5px 20px 2px gray;
}
.fr .title{
    background-color: rgb(46, 96, 231);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fr li{
    list-style: none;
    height: 48px;
    border: 1px groove rgb(235, 235, 235);
}
.fr .column{
    border: 1px solid rgb(243, 243, 243);
    flex: 1;
    padding: 2px;
    margin: 2px;
    height: 200px;
}
.fr .last{
    position: absolute;
    bottom: 0px;
}
.text input{
    width: 350px;
}
.time{
    font-family: Knewave;
}
body {
    margin: 0;
    font-size: 1rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    position: relative;
    padding: 2rem;
    border: 7px solid #282828;
    box-shadow: -4px -4px 10px rgba(67,67,67,0.5),
                    inset 4px 4px 10px rgba(0,0,0,0.5),
                    inset -4px -4px 10px rgba(67,67,67,0.5),
                    4px 4px 10px rgba(0,0,0,0.3);
    border-radius: 50%;
    margin: 50px auto;

}
.chart-year{
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: var(--col3);
    color: whitesmoke;
    position: fixed;
    left: calc(100vw - 96vw);
    top: 46px;
    z-index: 980 !important;
    border-radius: 3px;
}
.chart-year a{
    color: whitesmoke;
}
.chart-year a:hover{
    border-bottom: solid white;
}
.years{
    color: black;
    font: 1.4rem;
    margin: 0px 21px 0px 21px;
    text-decoration: none;
}
.chart-btn-prev{
    display: none;
    font-size: 1.8rem;
    border-radius: 3rem;
    z-index: 999; 
    position: absolute;
    top: 477px;
    color: var(--col4);
    background-color: whitesmoke;
}

.chart-btn-next{
    display: none;
    font-size: 1.8rem;
    border-radius: 3rem;
    z-index: 999; 
    position: absolute;
    top: 477px;
    right: 40px;
    color: var(--col4);
    background-color: whitesmoke;
}
.chart-btn-prev:hover{
    cursor: pointer !important; 
}
.chart-btn-next:hover{
    cursor: pointer !important;
}
.info-details{
    margin: 0px auto 0px auto;
    font-size: 1.3rem;
    color: var(--col4);
    width: 71%;
}
.info-details:hover{
    box-shadow: 0px 0px 10px 0px var(--col3);
}
.side-navbar{
    width: 12vw;
    color: red;
    font-size: large;
    background-color: var(--col4);
    position: fixed;
    top:  48px;
    width: 150px;
    height: calc(100% - 49px);
    left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    z-index: 900;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-y: scroll;
    transition: 0.1s;
    background-image: linear-gradient(135deg, var(--col4), var(--col3));
}
.side-contents{
    width: 98%;
    margin: auto;
    height: 30px;
    background-color: var(--col3);
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    
    /* top: 20px;
    right: 440px; */
}
.side-contents a{
    text-decoration: none;
    color: var(--col-font);
    padding: 3px 9px;
    margin: 3px 9px;
    transition: ease-in-out 0.1s;
    margin: 0px 3px 0px 3px;
}
.side-contents a:hover{
    border-bottom: 4px solid var(--colC);
    cursor: pointer;
}
.active-sub-header-link {
    border-bottom: 4px solid var(--colC);
}
.sticky-nav {
    position: fixed;
    width: 100vw;
    height: 42px;
    align-items: center;
    z-index: 998;
    top: 0px;
    margin: 0px;
    left: 0px;
}
.second-nav-wrapper{
    flex: 5;
    display: flex;
    justify-content: center;
}
.chart-forecast{
    width: 100%;
    height: 100vh;
    background-color: #124143;
    margin: 3px auto 3px auto;
    color: #c0f7b73a;
    opacity: 0.97;
    border-radius: 2px;
}
.container-wrapper-forecast{
    width: 99.4vw;
    height: calc(100vh - 46px);
    margin: 0px 4px 0px 4px;
    background-color: #1241430c;
    display: flex;
    flex-direction: column;
    color: var(--col4);
    border-radius: 3px;
}
.side-contents-forecast {
    width: 100%;
    margin: auto;
    height: 30px;
    background-color: var(--col3);
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 2px;
}
.side-contents-forecast a{
    text-decoration: none;
    color: var(--col-font);
    padding: 3px 9px;
    margin: 3px 9px;
    transition: ease-in-out 0.1s;
    margin: 0px 3px 0px 3px;
}
.side-contents-forecast a:hover{
    border-bottom: 4px solid var(--colC);
    cursor: pointer;
}
.chartContainer-forecast{
    width: 100%;
    height: 100%;
}
#loader {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 2.6rem;
    position: absolute;
    top: calc(100vh - 58%);
    left: calc(100vw - 48%);
    z-index: 780;
    color: whitesmoke;
    width: 2vw;
    height: calc(100vh - 650px);
    animation: spin 2s linear infinite;
}
#loader-home {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 2.6rem;
    position: absolute;
    top: calc(100vh - 13%);
    left: calc(100vw - 60%);
    z-index: 780;
    color: whitesmoke;
    width: 23vw;
    height: calc(100vh - 550px);
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.small{
    display: none !important;
    align-items: end !important;
    justify-content: center !important;
    flex-direction: column !important;
}
.nav-small{
    display: none !important;
    flex-direction: column !important;
}
.nav-small-vis{
    display: flex !important;
}
.ham1{
    background-color: whitesmoke;
    width: 20px;
    height: 3px;
    margin: 4px;
}
.ham2{
    background-color: whitesmoke;
    width: 20px;
    height: 3px;
    margin: 4px;
}
.ham3{
    background-color: whitesmoke;
    width: 20px;
    height: 3px;
    margin: 4px;
}

@media only screen and (max-width: 720px) {
    .nav-wrapper{
        width: 100% !important;
        margin: 0px 0px;
    }
    .container-wrapper{
        width: 99%;
        margin: 0px 2px 14px auto;
    }
    .small {
        display: flex !important;
        flex: 7;
        flex-direction: column;     
    }
    .nav-center{
        display: none !important;
    }
    .nav-right{
        display: none !important;
    }
    .side-contents{
        width: 99%;
    }
}